.mainContent{
    // padding-bottom: 4em;
    background: rgb(13, 245, 5);

    .mobileViewMainContent{
        display: none;
    }
    @media (max-width: 991px){
        .galleryMainContent{
            display: none;
        }
        .mobileViewMainContent{
            display: flex;
            transition: 0ms;
            // overflow-y: scroll;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 100vw;
            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}