.navBar-container{
    background: rgb(65, 7, 88);
    height: 100px;
    color: #fed136;
    width: 100%;
}


.navBar-container > div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-width: 1000;
    margin: 0 auto;
    width: 100%;
    padding: 5px
}

.logo-container{
    width: 70px;
}

.camera-logo{
    height: 70px;
    width: 70px;
    // padding: 0px 740px 0px 0px;

}

.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}