.navBar{
    // position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    background: white;
    z-index: 2;
    
}
.navBar-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    margin: 0 auto;
    width: 100%;
    height: 100px;


    .mobileToggle{
        display: none;
    }
    .link-container{


        @media(max-width: 991px){
            background: rgb(255, 255, 255);
            box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.397);
            height: 100vh;
            width: 300px;
            position: absolute;
            top: 0;
            right: 0;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            padding-top: 100px; 
            transform: translate(0px ,0px);
            transition: .3s;
            z-index: 3;
            > a {
                margin: 10px 0 ; 
            }

            
        }
    }

    @media(max-width: 991px){
        .mobileToggle {
            position: absolute;
            top: 30px;
            right: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            height: 40px;
            width: 40px;
            z-index: 5;
            background-color: white; 
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.397);
            border-radius: 5px;
            padding: 8px;
            
            span {
                border-bottom: 2px solid black;
                width: 100%;
            }
        }

        .hide{
            transform: translate(300px ,0px);
            width: 0;
            overflow: hidden;
        }
    }
}


.camera-logo{
    height: 99%;
    // padding: 0px 740px 0px 0px;
    

}



.link-container{
    max-width: 450px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-family: 'lato';
    align-items: center; 
    font-size: 22px;
    font-weight: 400;
    color: lightblue;
    a:visited{
        color: grey
    }
    a:hover{
        color: lightblue;
    }
    a:active{ 
        color: rgb(87, 172, 228)
    }
}

.link-container a{
    text-decoration: none;
}