.navBar{
    background: rgb(65, 7, 88);
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fed136;
  width: 100%;
}


.navBar > div:last-child {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.camera-logo{
    height: 70px;
    width: 70px;
    padding: 0px 740px 0px 0px;
}

.home{
    display: flex;
    justify-content: space-around;
    align-items: center;
}