.about{
    // background-color: rgb(65, 7, 88);
    display: flex;
    justify-content: space-around;
    align-items: center;  
    flex-direction: row;  
    
}

.about-me{
    float: right;
    padding: 30px 180px;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 20px;
}
.about .thankYou{
    float: right;
    padding: 30px 80px;
    font-family: 'Source Sans Pro', sans-serif; 
    font-size: 20px;
}


.self-photo{
    width: 500px;
    float: left;
    justify-content: space-around;
    margin: 80px 80px 80px 180px;
}