.about{
    background-color: rgb(65, 7, 88);
    display: flex;
    justify-content: space-between;
    align-items: center;  
    flex-direction: column;  
    
}

.about-me{
    padding: 20px 80px 10px 180px;
    background-color: #fed136;
}
.about .thankYou{
    padding: 20px 80px 10px 180px;
    background-color: #fed136;
}

.self-photo{
    width: 200px;
}