.instaLogo {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-content: center; }

.faceLogo {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-content: center; }

.builtBy {
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: lightblue;
  font-size: 130%; }

.footer {
  background: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px; }

.socialMedia {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 5%;
  margin: 0 auto 5px; }
