@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
@import url("https://fonts.googleapis.com/css?family=Assistant|Charmonman|Montserrat|Nunito|Source+Sans+Pro");
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column; }

.about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  width: 100%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
  padding: 30px; }
  .about-me p {
    padding-bottom: 15px;
    padding-top: 15px; }

.about .thankYou {
  float: right;
  padding: 30px 80px;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px; }

.self-photo {
  max-width: 500px;
  width: 100%;
  float: left;
  justify-content: space-around;
  margin: auto; }

.headerAbout {
  color: black;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  padding: 0 30px 0 30px; }

.contact {
  height: 100%; }

.inputContainerBox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  max-width: 370px;
  width: 100%;
  flex-direction: column;
  padding-bottom: 50px; }

.thankYouBox {
  font-size: 1.3em;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center; }
  .thankYouBox p {
    max-width: 1000px;
    padding: 20px; }

.submit {
  max-width: 200px; }

.headerContact {
  color: whitesmoke;
  height: 300px;
  font-size: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Nunito', sans-serif;
  padding: 20px;
  background-image: url(https://res.cloudinary.com/alexishandphotography/image/upload/v1539801322/466daac5711debc45d91e864f63a1d82.jpg); }

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%; }

input[type=text], select, textarea {
  width: 100%;
  max-width: 520px;
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 5px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical;
  /* Allow the user to vertically resize the textarea (not horizontally) */ }

/* Style the submit button with a specific background color etc */
/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px; }

button[type=submit] {
  background-color: #4cacaf;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  min-width: 20px; }

button[type=submit]:hover {
  background-color: #4592a0; }

.stock-photo {
  max-width: 500px; }

.home {
  max-height: 780px;
  min-height: 600px;
  overflow-y: scroll;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  background: whitesmoke; }
  .home .mobileView {
    display: none; }
  .home .carousel {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 1; }
  @media (max-width: 991px) {
    .home .carousel {
      display: none; }
    .home .mobileView {
      display: flex;
      transition: 0ms;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100vw; }
      .home .mobileView img {
        width: 100%; } }

.navBar {
  top: 20px;
  left: 0;
  right: 0;
  background: white;
  z-index: 2; }

.navBar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  margin: 0 auto;
  width: 100%;
  height: 100px; }
  .navBar-container .mobileToggle {
    display: none; }
  @media (max-width: 991px) {
    .navBar-container .link-container {
      background: white;
      box-shadow: -2px 3px 5px rgba(0, 0, 0, 0.397);
      height: 100vh;
      width: 300px;
      position: absolute;
      top: 0;
      right: 0;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding-top: 100px;
      transform: translate(0px, 0px);
      transition: .3s;
      z-index: 3; }
      .navBar-container .link-container > a {
        margin: 10px 0; } }
  @media (max-width: 991px) {
    .navBar-container .mobileToggle {
      position: absolute;
      top: 30px;
      right: 30px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 40px;
      width: 40px;
      z-index: 5;
      background-color: white;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.397);
      border-radius: 5px;
      padding: 8px; }
      .navBar-container .mobileToggle span {
        border-bottom: 2px solid black;
        width: 100%; }
    .navBar-container .hide {
      transform: translate(300px, 0px);
      width: 0;
      overflow: hidden; } }

.camera-logo {
  height: 99%; }

.link-container {
  max-width: 450px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  font-family: 'lato';
  align-items: center;
  font-size: 22px;
  font-weight: 400;
  color: lightblue; }
  .link-container a:visited {
    color: grey; }
  .link-container a:hover {
    color: lightblue; }
  .link-container a:active {
    color: #57ace4; }

.link-container a {
  text-decoration: none; }

.portfolio {
  background: whitesmoke; }
  .portfolio .mobileViewP {
    display: none; }
  @media (max-width: 991px) {
    .portfolio .gallery {
      display: none; }
    .portfolio .mobileViewP {
      display: flex;
      transition: 0ms;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100vw; }
      .portfolio .mobileViewP img {
        width: 100%; } }

.profile {
  background-color: blueviolet; }

.instaLogo {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-content: center; }

.faceLogo {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-content: center; }

.builtBy {
  display: flex;
  justify-content: space-around;
  align-content: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: lightblue;
  font-size: 130%; }

.footer {
  background: whitesmoke;
  display: flex;
  justify-content: space-around;
  align-content: center;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px; }

.socialMedia {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 5%;
  margin: 0 auto 5px; }

.footerQuote {
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin: 0 auto 5px;
  font-family: 'Charmonman', cursive;
  font-size: 2em;
  padding: 10px;
  text-align: center; }
